body{
    background-color: white;
    height: 100%;
    display: block;
    margin:0;
}
h1{
    font-family: "Helvetica",serif;
    font-size: 2.5em;
    color: #151517;
    margin: 0 0 0.1em 0;
    padding: 0.5em 0;
}

p{
    text-align: justify;
    font-family: "Noticia Text",sans-serif;
}

.header{
    height:3em;
    background-color: black;
    display: flex;
    margin:0 0 1em 0;
    justify-content: flex-start;
    align-items: center;
}

.header h2{
    color:white;
    margin:0;
    position: relative;
    left:1%;
    font-family:"Noticia Text";
}

.header a{
    color:white;
    text-decoration: none;
}

p.description{
    font-family:"Helvetica",sans-serif;
}



#content-pane{
    width:60%;
    margin:1em auto;
    padding-top: 1em;
}

#game-box{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    flex: wrap;
    justify-content: center;
}
.track-box{
    display:block;
    margin:1em auto;
    max-width: 300px;
    padding: 2%;
    position: relative;
}

img{
    border-radius:0.5%;
}

button{
    margin:1em auto;
    text-align: center;
    background-color: #dee5ff;
    width: 80px;
    height: 25px;
    font-family: "Noticia Text";
    border: 1.25px solid gray;
    border-radius: 10px;
    background-color: #dee5ff;
}
button:hover{
    background-color: #aab8eb;
}

.bold{
    border-color: black;
    font-weight: bold;
    display: block;
}

.hide{
    display: none;
}

.clickable:hover{
    cursor: pointer;
}
